FINMIND_TOKEN: ""
DB_DIALECT: "mysql"
DB_HOST: "127.0.0.1"
DB_PORT: 3307
DB_NAME: "stock_bot"
DB_USER: ""
DB_PASSWORD: ""
TOPN: 20
LABEL_HORIZON_DAYS: 20
TRAIN_LOOKBACK_YEARS: 5
SCHEDULE_TIME: "16:50"
TZ: "Asia/Taipei"
API_HOST: "0.0.0.0"
API_PORT: 8000
